

.container{
    width: 100%;
    margin: 0;
    padding: 0;

}

.hero img {
    border-radius: 0;
}

#bottle{
    text-align: center;
    float: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#unicorn{
    text-align: center;
    float: inherit;
}